@import "tailwindcss";

/* Variables de colores y fuentes */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playfair: var(--font-playfair);
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Estilos base */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-playfair); /* Cambiá a --font-sans si querés sans-serif */
}
